body {
	background: #000000;
	margin: 0;
}

.block_header {
	height: 124px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block_header__contacts_login {
	width: 1110px;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  color: #969696;
}

.contacts {
	cursor: pointer;
  width: 358px;
  display: flex;
	justify-content: space-between;
	align-items: center;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}


.login {
	cursor: pointer;
  width: 140px;
  display: flex;
	justify-content: space-between;
	align-items: center;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.login_text {
 	padding-right: 10px;
}

.block_header__logo_menu {
	width: 1920px;
	height: 80px;
	background-image: url("./img/Rectangle_1.png");
	display: flex;
	justify-content: center;
}

.block_header__logo_menu__wrapper {
	width: 1110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	cursor: pointer;
	width: 104px;
	height: 49px;
	display: flex;
	align-items: center;
}

.menu {
	width: 590px;
  color:#969696;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.items {
	width: 100%;
	height: 80px;
	cursor: pointer;
 	padding: 0 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.items:hover {
	background: #1F1F1F;
}

.menu_icons {
	display: flex;
}

.block_content {
	height: 810px;
	background-image: url("./img/backgr.png");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_content__rectangle_3 {
	width: 320px;
	height: 320px;
	border: 4px solid white;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.block_content__rectangle_3__logo {
	width: 185px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.block_content__rectangle_3__line {
	border: 2px solid #FFFFFF;
	width: 180px;
	margin-top: 4px;
}

.block_content__rectangle_3__city {
	width: 250px;
	color: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}

.block_content__text {
	width: 730px;
	height: 96px;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.block_content__content {
	height: 496px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.block_photos {
	height: 730px;
	display: flex;
	justify-content: center;
}

.block_photos__season {
	width: 1040px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block_photos__season__top {
	margin-top: 93px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.block_photos__season__line {
	border: 1px solid #FFFFFF;
	width: 120px;
	margin-top: 50px;
}

.block_photos__season__products {
	margin-top: 50px;
	width: 880px;
	height: 405px;
	display: flex;
	justify-content: space-between;
}

.block_photos__season__products__product1 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_photos__season__products__product1:hover {
	/* border: 1px solid white; */
}

.block_photos__season__products__product1__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__season__products__product1__photo:hover {
	background: #191B1C;
}

.block_photos__season__products__product1__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product1__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product2 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_photos__season__products__product2:hover {
	/* border: 1px solid white; */
}

.block_photos__season__products__product2__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__season__products__product2__photo:hover {
	background: #191B1C;
}

.block_photos__season__products__product2__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product2__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product3 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_photos__season__products__product3:hover {
	/* border: 1px solid white; */
}

.block_photos__season__products__product3__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__season__products__product3__photo:hover {
	background: #191B1C;
}

.block_photos__season__products__product3__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product3__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__new_collection {
	width: 880px;
	height: 730px;
	background-image: url("./img/backgr_2.png");
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__new_collection__content {
	width: 376px;
	height: 146px;
	margin-top: 330px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.block_photos__new_collection__content__top {
	width: 376px;
	height: 39px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.block_photos__new_collection__content__line {
	border: 1px solid #FFFFFF;
	width: 120px;
	margin-top: 30px;
}

.block_photos__new_collection__content__catalog {
	border: 1px solid #FFFFFF;
	cursor: pointer;
	margin-top: 30px;
	width: 150px;
	height: 46px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__new_collection__content__catalog:hover {
	width: 150px;
	height: 46px;
	border: 4px solid #FFFFFF;
}

.block_photos__new_collection__content__catalog__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #FFFFFF;
}

.block_collections {
	height: 600px;
	display: flex;
	justify-content: center;
}

.block_collections__photo {
	width: 880px;
}

.block_collections__info {
	width: 1040px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_collections__info__content {
	width: 471px;
	height: 390px;

	color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.block_collections__info__content__top {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.block_collections__info__content__line {
	margin-top: 40px;
	width: 120px;
	border: 1px solid #FFFFFF;
}

.block_collections__info__content__text {
	height: 173px;
	margin-top: 40px;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;

	text-align: center;

	color: #FFFFFF;
}

.block_collections__info__content__button {
	border: 1px solid #FFFFFF;
	cursor: pointer;
	margin-top: 50px;
	width: 310px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_collections__info__content__button:hover {
	border: 4px solid #FFFFFF;
	width: 310px;
	height: 50px;
}

.block_collections__info__content__button__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.block_new {
	height: 1289px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.block_new__top {
	margin-top: 120px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block_new__line {
	margin-top: 40px;
	width: 120px;
	border: 1px solid #FFFFFF;
}

.block_new__content {
	/* border: 1px solid #FFFFFF; */
	margin-top: 80px;
	margin-bottom: 150px;
	width: 1110px;
	height: 850px;
}

.block_new__content__floor1 {
	width: 1110px;
	height: 405px;

	display: flex;
	justify-content: space-between;
}

.block_new__content__floor1__product1 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor1__product1:hover {
	/* border: 1px solid white; */
}

.block_new__content__floor1__product1__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor1__product1__photo:hover {
	background: #191B1C;
}

.block_new__content__floor1__product1__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product1__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product2 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor1__product2:hover {
	/* border: 1px solid white; */
}

.block_new__content__floor1__product2__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor1__product2__photo:hover {
	background: #191B1C;
}

.block_new__content__floor1__product2__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product2__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product3 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor1__product3:hover {
	/* border: 1px solid white; */
}

.block_new__content__floor1__product3__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor1__product3__photo:hover {
	background: #191B1C;
}

.block_new__content__floor1__product3__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product3__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product4 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor1__product4:hover {
	/* border: 1px solid white; */
}

.block_new__content__floor1__product4__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor1__product4__photo:hover {
	background: #191B1C;
}

.block_new__content__floor1__product4__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product4__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2 {
	width: 1110px;
	height: 405px;

	display: flex;
	justify-content: space-between;
}

.block_new__content__floor2__product5 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor2__product5:hover {
	/* border: 1px solid white; */
}

.block_new__content__floor2__product5__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor2__product5__photo:hover {
	background: #191B1C;
}

.block_new__content__floor2__product5__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product5__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product6 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor2__product6:hover {
	/* border: 1px solid white; */
}

.block_new__content__floor2__product6__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor2__product6__photo:hover {
	background: #191B1C;
}

.block_new__content__floor2__product6__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product6__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product7 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor2__product7:hover {
	/* border: 1px solid white; */
}

.block_new__content__floor2__product7__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor2__product7__photo:hover {
	background: #191B1C;
}

.block_new__content__floor2__product7__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product7__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product8 {
	width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor2__product8:hover {
	/* border: 1px solid white; */
}

.block_new__content__floor2__product8__photo {
	width: 260px;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor2__product8__photo:hover {
	background: #191B1C;
}

.block_new__content__floor2__product8__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product8__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}
