body {
	background: #000000;
	margin: 0;
	/* min-width: 1920px; */
}

.container {
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

@media (min-width: 1200px) {

	.container {
		max-width: 1110px;
		/* border: 2px solid green; */
	}
}

@media (min-width: 720px) and (max-width: 1199px) {

	.container {
		max-width: 680px;
		/* border: 2px solid white; */
	}
}

/* block_header */

.block_header__contacts_login {
	height: 44px;
	display: flex;
	align-items: center;
  color: #969696;
}

.contacts {
	cursor: pointer;
  display: flex;
	justify-content: space-between;
	align-items: center;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.contacts_text {
	margin-left: 10px;
}

.login {
	cursor: pointer;
  display: flex;
	justify-content: space-between;
	align-items: center;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.login_text {
 	margin-left: 10px;
}

.block_header__logo_menu {
	background-image: url("./img/Rectangle_1.png");
}

.logo {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.menu {
  color:#969696;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.items {
	height: 80px;
	cursor: pointer;
 	padding: 0 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.items:hover {
	background: #1F1F1F;
}

.menu_icons {
	display: flex;
}

/* block_content */

.block_content {
	background-image: url("./img/backgr.png");
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_content__content {
	margin-top: 160px;
	margin-bottom: 154px;
	height: 496px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.block_content__rectangle_3 {
	width: 100%;
	max-width: 320px;
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

.block_content__rectangle_3__inner{
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.block_content__rectangle_3__line {
	border-bottom: 2px solid #FFFFFF;
	margin-top: 4px;
}

.block_content__rectangle_3__city {
	color: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}

.block_content__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* block_photos */

.block_photos {
	display: flex;
	justify-content: center;
}

@media (min-width: 720px) and (max-width: 1199px) {
	.block_photos {
		flex-direction: column;
		align-items: center;
	}
}

.block_photos__season {
	width: 100%;
	max-width: 1040px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inner_products {
	display: flex;
  align-items: center;
  overflow: hidden;
}

.products_inner{
	display: flex;
}

@media (min-width: 720px) and (max-width: 1199px) {
	.products_inner {
		width: 215px;
		display: flex;
		justify-content: space-between;
		position: relative;
		left: 0;
		transition: all ease 0.5s;
	}
}

.slider_season {
	width: 100%;
	max-width: 1110px;
	display: flex;
	align-items: center;
}

@media (min-width: 1200px) {
	.slider_season {
		max-width: 1110px;
	}

	.btn1 {
		display: none;
	}

	.btn2 {
		display: none;
	}
}

@media (min-width: 720px) and (max-width: 1199px) {
	.slider_season {
		max-width: 680px;
		/* border: 2px solid white; */
	}

	.btn1 {

	}

	.btn1:hover {
		cursor: pointer;
	}

	.btn2 {
		transform: rotate(180deg);
	}

	.btn2:hover {
		cursor: pointer;
	}
}

.block_photos__season__top {
	margin-top: 93px;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block_photos__season__line {
	border-bottom: 1px solid #FFFFFF;
	width: 120px;
	margin-top: 50px;
}

.block_photos__season__products {
	margin-top: 50px;
	height: 405px;
	display: flex;
	justify-content: space-between;
}

.block_photos__season__products__product1 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_photos__season__products__product1__photo {
	width: 100%;
	max-width: 260px;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__season__products__product1__photo:hover {
	background: #191B1C;
}

.block_photos__season__products__product1__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product1__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product2 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_photos__season__products__product2__photo {
	width: 100%;
	max-width: 260px;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__season__products__product2__photo:hover {
	background: #191B1C;
}

.block_photos__season__products__product2__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product2__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product3 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_photos__season__products__product3__photo {
	width: 100%;
	max-width: 260px;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__season__products__product3__photo:hover {
	background: #191B1C;
}

.block_photos__season__products__product3__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__season__products__product3__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_photos__new_collection {
	width: 100%;
	max-width: 880px;
	height: 730px;
	background-image: url("./img/backgr_2.png");
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 720px) and (max-width: 1199px) {
	.block_photos__new_collection {
		margin-top: 30px;
		max-width: 1110px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}
}

.block_photos__new_collection__content {
	width: 100%;
	max-width: 376px;
	height: 100%;
	max-height: 222px;
	margin-top: 330px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.block_photos__new_collection__content__top {
	width: 100%;
	max-width: 376px;
	height: 39px;
	margin-bottom: 50px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block_photos__new_collection__content__line {
	border-bottom: 1px solid #FFFFFF;
	width: 120px;
}

.block_photos__new_collection__content__catalog {
	border: 1px solid #FFFFFF;
	cursor: pointer;
	margin-top: 30px;
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_photos__new_collection__content__catalog:hover {
	cursor: pointer;
	width: 100%;
	max-width: 150px;
	height: 46px;
	border: 4px solid #FFFFFF;
}

.block_photos__new_collection__content__catalog__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* block_collections */

.block_collections {
	height: 600px;
	display: flex;
	justify-content: center;
}

.block_collections__photo {
	width: 100%;
	max-width: 880px;
	background-image: url("./img/collect_1.png");
	background-position: center;
}

.block_collections__info {
	width: 100%;
	max-width: 1040px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_collections__info__content {
	width: 100%;
	max-width: 471px;
	height: 390px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.block_collections__info__content__top {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block_collections__info__content__line {
	margin-top: 40px;
	width: 120px;
	border: 1px solid #FFFFFF;
}

.block_collections__info__content__text {
	height: 173px;
	margin-top: 40px;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
}

.block_collections__info__content__button {
	border: 1px solid #FFFFFF;
	cursor: pointer;
	margin-top: 50px;
	width: 310px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_collections__info__content__button:hover {
	border: 4px solid #FFFFFF;
	width: 310px;
	height: 50px;
}

.block_collections__info__content__button__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

/* block_new */

.block_new__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.block_new__top {
	margin-top: 120px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block_new__line {
	margin-top: 40px;
	width: 120px;
	border-bottom: 2px solid #FFFFFF;
}

.block_new__content {
	margin-top: 80px;
}

@media (min-width: 1200px) {
	.block_new__content {
		max-width: 1110px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (min-width: 720px) and (max-width: 1199px) {
	.block_new__content {
		max-width: 680px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.block_new__content__floor1 {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 1200px) {
	.block_new__content__floor1 {
		max-width: 1110px;
	}
}

@media (min-width: 720px) and (max-width: 1199px) {
	.block_new__content__floor1 {
		max-width: 680px;
		display: flex;
		flex-direction: column;
	}
}

.floor_1_1 {
	display: flex;
}

.floor_1_2 {
	display: flex;
}

.block_new__content__floor1__product1 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor1__product1__photo {
	width: 100%;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor1__product1__photo:hover {
	background: #191B1C;
}

.block_new__content__floor1__product1__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product1__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product2 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor1__product2__photo {
	width: 100%;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor1__product2__photo:hover {
	background: #191B1C;
}

.block_new__content__floor1__product2__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product2__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product3 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor1__product3__photo {
	width: 100%;
	height: 325px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor1__product3__photo:hover {
	background: #191B1C;
}

.block_new__content__floor1__product3__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product3__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product4 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor1__product4__photo {
	width: 100%;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor1__product4__photo:hover {
	background: #191B1C;
}

.block_new__content__floor1__product4__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor1__product4__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2 {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 1200px) {
	.block_new__content__floor2 {
		max-width: 1110px;
	}
}

@media (min-width: 720px) and (max-width: 1199px) {
	.block_new__content__floor2 {
		max-width: 680px;
		display: flex;
		flex-direction: column;
	}
}

.floor_2_1 {
	display: flex;
}

.floor_2_2 {
	display: flex;
}

.block_new__content__floor2__product5 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor2__product5__photo {
	width: 100%;
	max-width: 260px;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor2__product5__photo:hover {
	background: #191B1C;
}

.block_new__content__floor2__product5__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product5__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product6 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor2__product6__photo {
	width: 100%;
	max-width: 260px;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor2__product6__photo:hover {
	background: #191B1C;
}

.block_new__content__floor2__product6__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product6__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product7 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor2__product7__photo {
	width: 100%;
	max-width: 260px;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor2__product7__photo:hover {
	background: #191B1C;
}

.block_new__content__floor2__product7__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product7__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product8 {
	width: 100%;
	max-width: 260px;
	height: 405px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.block_new__content__floor2__product8__photo {
	width: 100%;
	max-width: 260px;
	height: 325px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_new__content__floor2__product8__photo:hover {
	background: #191B1C;
}

.block_new__content__floor2__product8__name {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

.block_new__content__floor2__product8__price {
	cursor: pointer;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}

/* block_brands */

.block_brands {
	margin-top: 150px;
	height: 362px;
	background: #0F0F0F;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.block_brands__content {
	margin-top: 60px;
	width: 1110px;
	height: 222px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.block_brands__content__top {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block_brands__content__line {
	border: 1px solid #FFFFFF;
	width: 120px;
	margin-top: -3px;
}

.slider_brands {
	width: 100%;
	max-width: 1110px;
	display: flex;
	justify-content: space-between;
}

.img {
	width: 260px;
	height: 100px;
}

.block_brands__content__brands{
	display: flex;
	align-items: center;
	overflow: hidden;
}

.block_brands__content__brands:hover {
	cursor: pointer;
	border: 1px solid white;
}

.brands_icons {
	width: 260px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
  left: 0;
  transition: all ease 0.5s;
}

.btn3:hover {
	cursor: pointer;
}

.btn4 {
	transform: rotate(180deg);
}

.btn4:hover {
	cursor: pointer;
}

/* block_about */

.block_about {
	height: 400px;
	background-image: url("./img/backgr_3.png");
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
}

.block_about__content {
	margin-top: 80px;
	height: 220px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: white;
}

@media (min-width: 720px) and (max-width: 1199px) {
	.block_about__content {
		max-width: 680px;
		margin-top: 40px;
		flex-wrap: wrap;
	}
}

.block_about__content__about {
	width: 100%;
	max-width: 350px;
	height: 220px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.block_about__content__about__top {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block_about__content__about__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
}

.block_about__content__categories {
	width: 100%;
	max-width: 288px;
	height: 174px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.block_about__content__categories__top {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block_about__content__categories__catfloor1 {
	width: 100%;
	max-width: 288px;
	height: 42px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block_about__content__categories__catfloor1__cat {
	cursor: pointer;
	padding: 0 20px 0;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0F0F0F;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #D0D0D0;
}

.block_about__content__categories__catfloor2 {
	width: 100%;
	max-width: 275px;
	height: 42px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block_about__content__categories__catfloor2__cat {
	cursor: pointer;
	padding: 0 20px 0;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0F0F0F;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #D0D0D0;
}

.block_about__content__mailing {
	width: 100%;
	max-width: 350px;
	height: 193px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

@media (min-width: 720px) and (max-width: 1199px) {
	.block_about__content__mailing {
		margin-top: 30px;
		max-width: 680px;
		display: flex;
		flex-direction: row;
		height: auto;
	}
}

.block_about__content__mailing__top {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
}

@media (min-width: 720px) and (max-width: 1199px) {
	.block_about__content__mailing__top {
		padding-right: 10px;
	}
}

.block_about__content__mailing__text {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
}

.block_about__content__mailing__form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.block_about__content__mailing__form__email {
	width: 100%;
	max-width: 210px;
	height: 35px;
	background: #1F1F1F;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_about__content__mailing__form__email:hover {
	cursor: text;
}

.block_about__content__mailing__form__button {
	cursor: pointer;
	padding: 0 20px 0;
	height: 42px;
	background: #0F0F0F;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.05em;
	display: flex;
	justify-content: center;
	align-items: center;
}
