body {
	background: #000000;
	margin: 0;
}

.block_header {
	height: 124px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block_header__contacts_login {
	width: 1110px;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  color: #969696;
}

.contacts {
	cursor: pointer;
  width: 358px;
  display: flex;
	justify-content: space-between;
	align-items: center;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}


.login {
	cursor: pointer;
  width: 140px;
  display: flex;
	justify-content: space-between;
	align-items: center;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.login_text {
 	padding-right: 10px;
}

.block_header__logo_menu {
	width: 1920px;
	height: 80px;
	background-image: url("./img/Rectangle_1.png");
	display: flex;
	justify-content: center;
}

.block_header__logo_menu__wrapper {
	width: 1110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	cursor: pointer;
	width: 104px;
	height: 49px;
	display: flex;
	align-items: center;
}

.menu {
	width: 590px;
  color:#969696;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.items {
	width: 100%;
	height: 80px;
	cursor: pointer;
 	padding: 0 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.items:hover {
	background: #1F1F1F;
}

.menu_icons {
	display: flex;
}

.block_content {
	height: 810px;
	background-image: url("./img/backgr.png");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_content__rectangle_3 {
	width: 320px;
	height: 320px;
	border: 4px solid white;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.block_content__rectangle_3__logo {
	width: 185px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.block_content__rectangle_3__line {
	border: 2px solid #FFFFFF;
	width: 180px;
	margin-top: 4px;
}

.block_content__rectangle_3__city {
	width: 250px;
	color: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}

.block_content__text {
	width: 730px;
	height: 96px;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.block_content__content {
	height: 496px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
